${STUDX_WHITEBOARD_PROXY_HOST} {
	reverse_proxy ${STUDX_WHITEBOARD_HOST}
}

${STUDX_WRITEPAD_PROXY_HOST} {
	reverse_proxy ${STUDX_WRITEPAD_HOST}
}

${STUDX_PROXY_HOST} {
	encode gzip

	handle /ws/* {
		reverse_proxy ${STUDX_ROOMS_HOST}
	}

	handle /api* {
		reverse_proxy ${STUDX_API_HOST}
	}

	handle_path /media* {
		root * ./api/media
		file_server
	}

	handle /* {
		reverse_proxy ${STUDX_UI_HOST}
	}
}

