#!/usr/bin/env bash
# shellcheck disable=2034

###########################
# Global
###########################
STUDX_BASE_IP=192.168.0.134

###########################
# api
###########################
STUDX_API_PORT=6000

###########################
# rooms
###########################
RUST_LOG=debug
RUST_BACKTRACE=1

STUDX_ROOMS_PORT=5000
STUDX_ROOMS_ADDRESS=0.0.0.0:${STUDX_ROOMS_PORT}
STUDX_REDIS_URL=redis://localhost:6380
STUDX_MEDIASOUP_IP=${STUDX_BASE_IP}

###########################
# whiteboard
###########################
STUDX_WHITEBOARD_PORT=8080

###########################
# Writepad
###########################
STUDX_WRITEPAD_PORT=9090

###########################
# ui
###########################
STUDX_UI_API_ENDPOINT=/api
STUDX_UI_WHITEBOARD_ENDPOINT=https://$STUDX_BASE_IP:8081
STUDX_UI_ROOMS_WS_ENDPOINT=wss://$STUDX_BASE_IP:3030/ws/rooms
STUDX_UI_WRITEPAD_ENDPOINT=wss://$STUDX_BASE_IP:9091

###########################
# Caddy
###########################
STUDX_PROXY_HOST=$STUDX_BASE_IP:3030
STUDX_UI_HOST=http://localhost:3000
STUDX_ROOMS_HOST=http://localhost:${STUDX_ROOMS_PORT}
STUDX_API_HOST=http://localhost:${STUDX_API_PORT}

STUDX_WHITEBOARD_PROXY_HOST=$STUDX_BASE_IP:8081
STUDX_WHITEBOARD_HOST=http://localhost:${STUDX_WHITEBOARD_PORT:-8080}

STUDX_WRITEPAD_PROXY_HOST=$STUDX_BASE_IP:9091
STUDX_WRITEPAD_HOST=http://localhost:${STUDX_WRITEPAD_PORT:-9090}

###########################
# Neovim DB UI
###########################

DB_UI_STUDXAPI=postgres://user:pass@localhost:5432/base
