#!/usr/bin/env bash

STUDX_PROXY_HOST=:3030
STUDX_UI_HOST=http://localhost:3000
STUDX_ROOMS_HOST=http://localhost:5000
STUDX_API_HOST=http://localhost:6000

STUDX_WHITEBOARD_PROXY_HOST=:8081
STUDX_WHITEBOARD_HOST=http://localhost:8080
# STUDX_WHITEBOARD_HOST=$(docker inspect -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}' studx_whiteboard):8080

STUDX_WRITEPAD_PROXY_HOST=:9091
STUDX_WRITEPAD_HOST=http://localhost:9090
