#!/usr/bin/env bash
# shellcheck disable=2034

# Your device IP inside your LAN
export STUDX_BASE_IP=192.168.0.134
export STUDX_DEV_PROXY_PORT=9000

export STUDX_SECRET_KEY='django-insecure-(-%5bmj^4pf9_w&vw^-vol@#05849$*$*994890404987)t=go'

export STUDX_DB_NAME=studx
export STUDX_DB_PASSWD=studx
export STUDX_DB_USER=studx
export STUDX_DB_HOST=localhost
export STUDX_DB_PORT=5433

export STUDX_REDIS_PORT=6380
export STUDX_REDIS_URL=redis://localhost:${STUDX_REDIS_PORT}

export STUDX_DEFAULT_FROM_EMAIL=
export STUDX_EMAIL_HOST=
export STUDX_EMAIL_HOST_USER=
export STUDX_EMAIL_HOST_PASSWORD=

export STUDX_API_PORT=6000

export STUDX_ALLOWED_HOSTS=localhost,${STUDX_BASE_IP}

export RUST_LOG=debug
export RUST_BACKTRACE=1

export STUDX_ROOMS_PORT=5000
export STUDX_ROOMS_ADDRESS=0.0.0.0:${STUDX_ROOMS_PORT}
export STUDX_REDIS_URL=redis://localhost:6380
export STUDX_MEDIASOUP_IP=${STUDX_BASE_IP}
# export STUDX_MEDIASOUP_ANNOUNCED_IP=

export STUDX_WHITEBOARD_PORT=8080

export STUDX_WRITEPAD_PORT=9090

export STUDX_UI_API_ENDPOINT=/api
export STUDX_UI_WHITEBOARD_ENDPOINT=https://$STUDX_BASE_IP:8081
export STUDX_UI_ROOMS_WS_ENDPOINT=wss://$STUDX_BASE_IP:${STUDX_DEV_PROXY_PORT}/ws/rooms
export STUDX_UI_WRITEPAD_ENDPOINT=wss://$STUDX_BASE_IP:9091

export STUDX_PROXY_HOST=$STUDX_BASE_IP:${STUDX_DEV_PROXY_PORT}
export STUDX_UI_HOST=http://localhost:3000
export STUDX_ROOMS_HOST=http://localhost:${STUDX_ROOMS_PORT}
export STUDX_API_HOST=http://localhost:${STUDX_API_PORT}

export STUDX_WHITEBOARD_PROXY_HOST=$STUDX_BASE_IP:8081
export STUDX_WHITEBOARD_HOST=http://localhost:${STUDX_WHITEBOARD_PORT:-8080}

export STUDX_WRITEPAD_PROXY_HOST=$STUDX_BASE_IP:9091
export STUDX_WRITEPAD_HOST=http://localhost:${STUDX_WRITEPAD_PORT:-9090}

# Neovim DB UI
export DB_UI_STUDXAPI=postgres://${STUDX_DB_USER}:${STUDX_DB_PASSWD}@localhost:${STUDX_POSTGRES_DB_PORT}/${STUDX_DB_NAME}
